<!DOCTYPE html>
<html>
<head>
    <title>RSS Feed</title>
        <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>RSS Feed</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Published</th>
            <th>Link</th>
        </tr>
        {% for item in rss_dic %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.published }}</td>
            <td><a href="{{ item.link }}">Read more</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
